.styled .card {
  display: inline-block;
  width: 263px;
  text-align: center;
}

/* .styled .list-group {
  position: relative;
} */

.styled #bet-size-percentage-fill {
  position: relative;
  background: lightblue;
  opacity: 1;
  max-width: 261px;
  width: 0%;
  padding-left: 0px;
  padding-right: 5px;
}

.styled #equity-required-percentage-fill {
  position: relative;
  background: lightgreen;
  opacity: .80;
  max-width: 261px;
  width: 0%;
  padding-left: 0px;
  padding-right: 5px;
}

.styled #min-defense-percentage-fill {
  position: relative;
  background: orange;
  opacity: .60;
  max-width: 261px;
  width: 0%;
  padding-left: 0px;
  padding-right: 5px;
}

.styled #auto-profit-percentage-fill {
  position: relative;
  background: red;
  opacity: .60;
  max-width: 261px;
  width: 0%;
  padding-left: 0px;
  padding-right: 5px;
}

.styled input[type="range"] {
  width: 800px;
}

.styled .betsize-buttons button {
  width: 110px;
  height: 3.5rem;
}

.styled .btn-outline-dark {
  width: 100px;
}

.styled .input-group {
  width: 800px;
  border: 10px;
  margin-block: 5em;
}

.styled .form-control {
  text-align: center;
  margin: auto;
}

.styled .form-range {
  height: 6rem;
  margin: auto;
}
